<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>183406678196-14n0i687f8ks2vh93kud41furbecd4dn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.183406678196-14n0i687f8ks2vh93kud41furbecd4dn</string>
	<key>API_KEY</key>
	<string>AIzaSyAQqmNcVL1WXAqL1I5e_1lOYys5VzhuOsU</string>
	<key>GCM_SENDER_ID</key>
	<string>183406678196</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fletterMemo</string>
	<key>PROJECT_ID</key>
	<string>flutter-memo-app-5d75b</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-memo-app-5d75b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:183406678196:ios:85c85306a6ca8e83ffc7e1</string>
</dict>
</plist>